<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448504446393-pd1ahuoggh23vghhpkod4rj1pks41e76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448504446393-pd1ahuoggh23vghhpkod4rj1pks41e76</string>
	<key>API_KEY</key>
	<string>AIzaSyAKKGJqW-i3SKjgjopciFLXY7EHXD1jbjU</string>
	<key>GCM_SENDER_ID</key>
	<string>448504446393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upetch.MKMessage</string>
	<key>PROJECT_ID</key>
	<string>mkmessage-55f86</string>
	<key>STORAGE_BUCKET</key>
	<string>mkmessage-55f86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448504446393:ios:b627398c959a7cd3fd0a68</string>
	<key>DATABASE_URL</key>
	<string>https://mkmessage-55f86.firebaseio.com</string>
</dict>
</plist>